<legacy-template>
  <div class="row clearfix">
    <h3 class="col-md-12 clearfix">
      List Animal
    </h3>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr />
      <button class="btn btn-primary btn-sm" ng-click="goToNew()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Add New
      </button>
      <button class="btn btn-primary btn-sm" ng-click="goToImport()">
        <span class="glyphicon glyphicon-import" aria-hidden="true"></span>
        Import Animal
      </button>
      <div class="form-group pull-right">
        <label for="aFilter">Search</label>
        <input type="text" placeholder="blad" ng-model="aFilter" id="aFilter" class="form-control pull-right" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <th class="text-center">ID</th>
          <th>Commom name</th>
          <th>Sci. name</th>
          <th class="text-center">Endanger</th>
          <th class="text-center">Actions</th>
        </thead>
        <tbody>
          <tr ng-repeat="animal in animalList | filter:aFilter" ng-click="goToDetail(animal.id)">
            <td>{{animal.id}}</td>
            <td>{{animal.common_name}}</td>
            <td>{{animal.sci_name}}</td>
            <td>{{animal.endanger_level}}</td>
            <td class="text-center" ng-click="goToEdit($event, animal.id)"><span class="glyphicon glyphicon-cog"
                aria-hidden="true"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</legacy-template>